/venv/
/userdata/
/.idea/.gitignore
/.idea/Campaign.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.pytest_cache
/DatabaseCreation/Spreed_Sheet_Data.json
/Bots/userdata/
campaign-318908-b7f2f5f17cab.json
miracle.db
/PersonalTouch/userdata/