atomicwrites
attrs
cachetools
certifi
charset-normalizer
colorama
configparser
crayons
google-auth
google-auth-oauthlib
gspread
idna
iniconfig
numpy
oauthlib
packaging
pandas
pluggy
prompt-toolkit
py
pyasn1
pyasn1-modules
pyparsing
pyperclip
pytest
python-dateutil
pytz
PyWit
requests
requests-oauthlib
rsa
selenium
six
toml
urllib3
wcwidth
webdriver-manager
wit